/* rgba a is how transparent is the color */
/* The a value goes to 0 to 1 (1 = no transparent at all) */

/* opacity, aplies to all the elements inside
it gost to 0 to 1 */

/* position
Sets how an element is positoned in a document */
/* static is the default
relative
absolute
fixed
sticky */

/* transition 
property name
duration
timing function
delay*/

/* timing function
https://easings.net/
transition-timing-function: cubic-bezier(0.7, 0, 0.84, 0) */

/* transform
transform-origin: top right;
transform: rotate(45deg) 
transform: scale(0.5)
transform: translateX(200px)
transform: skew()*/